* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #D3CBC0;
}
@font-face {
    font-family: magnetlight;
    src: url(MagnetTrial-ExtraLight-BF65f3b2c458ace.otf);
}
@font-face {
    font-family: magnetregular;
    src: url(MagnetTrial-Regular-BF65f3b2c4d8cea.otf);
}
@font-face {
    font-family: robotoregular;
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}
nav{
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0px 150px;
    z-index: 1;
    border-bottom: 0.2px solid #b6b6b6;
    transition: 0.5s all ease;
}
nav p{
    font-family: magnetlight;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20%;

    height: 100%;

    line-height: 15px;
}
.logo p span{
    font-weight: 800 !important;
    font-family: magnetregular;
}
.nav-links{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-links p{
    font-size: 13px;
    color: #000;
    font-weight: 600;
}

nav:hover {
    background-color: #FFFDF5;
}

.button-container{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: end;
}
.credit-text{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 15px;
}
.credit-text h4{
    font-family: magnetlight;
    font-size: 13px;
    color: #717767;
}
.credit-svg{
    border: 1px solid transparent;
}
.cart-svg,.profile-svg{
    border: 1px solid #403F3D;
    border-radius: 4px;
    padding: 2px;
    font-size: 28px;
}
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.hero{
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #00000000;
    position: absolute;
    top: 0;
    padding-top: 150px;
    padding-left: 150px;
}
.overlay h1{
    width: 50%;
    font-size: 65px;
    font-family: magnetlight;
    margin-bottom: 90px;
    font-weight: 500;
}
.card-container{
   display: flex;
   gap: 20px;
   width: 100%;
}
.card{
    height: 280px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.389);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: all ease 0.3s;
    position: relative;
}
.text-container p{
    font-size: 26px;
    font-family: magnetlight;
    transition: all ease 0.3s;

}
.text-container{
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card:hover{
    background-color: #FFFDF5;
}
.card:hover p{
    margin-top: -20%;
}
.pragaraph-container{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    bottom: 40%;
    z-index: 9999;
    padding-left: 10%;
}
.pragaraph-container .para {
    width: 100%;
    height: 2vh;
    position: relative;
    overflow: hidden;
}

.pragaraph-container .paraend {
    width: 100%;
    height: 2vh;
    position: relative;
    overflow: hidden;
    margin-top: 30%;
    margin-bottom: -30%;
    display: flex;
}

.paraend-left {
    height: 100%;
    width: 80%;
}

.paraend-right {
    height: 100%;
    width: 20%;
}

.paraend-right h4 {
    margin-left: 86%;
}

.card::after {
    content: "";
    height: 1px;
    width: 2%;
    background-color: black;
    position: absolute;
    left: 10%;
    bottom: 25%;
    transition: all ease 0.7s;
    opacity: 0;
}

.card:hover::after {
    width: 225px;
    opacity: 1;
}

.pragaraph-container .para h4{
    font-size: 10px;
    width: 100%;
    position: absolute;
    height: 2vh;
    left: 0;
    bottom: -100%;
    font-family: magnetlight;
    transition: all ease 0.5s;
    opacity: 0;
}

.pragaraph-container .paraend h4{
    font-size: 10px;
    position: absolute;
    width: 100%;
    height: 2vh;
    left: 0;
    bottom: -100%;
    font-family: magnetlight;
    transition: all ease 0.5s;
    opacity: 1;
}

.card:hover .pragaraph-container .para h4{
    bottom: 0;
}
.card:hover .pragaraph-container .para h4{
    opacity: 1;
}

.card:hover .pragaraph-container .paraend h4{
    bottom: 0;
}
.card:hover .pragaraph-container .paraend h4{
    opacity: 1;
}

.marquee {
    background-color: #DFDAC6;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee img {
    height: 100vh;
    width: 50%;
    object-position: center;
    /* scale: 0.5; */
    object-fit: cover;
}

.marquee-overlay {
    position: absolute;
    background-color: #6b6b6a23;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.marquee-div {
    height: 10vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.marquee-track-top {
    height: 10vh;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
    animation: marquee 12s linear infinite;
    flex-shrink: 0;
}

.marquee-container {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee-container h1 {
    font-family: magnetlight;
    font-size: 40px;
}

@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

.set {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: robotoregular;
}

.set p {
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
}

.set-button{
    height: 33px;
    width: 115px;
    margin-top: 35px;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
}

.before-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.after-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #464646;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    transition: 0.2s all ease;
}

.set-button:hover .after-hover{
    top: 0;
}

.marquee-track-bottom {
    height: 10vh;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: marquee 12s linear infinite;
    animation-direction: reverse;
}

.image-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: robotoregular;
}

.image-container img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
}

.cards{
    height: 280px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.389);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: all ease 0.5s;
    z-index: 9999;
}

.pargaraph-container .para p{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    width: 100%;
    height: 3vh;
    left: 0;
    bottom: -100%;
    transition: all ease 0.7s;
    opacity: 1;
}

.pargaraph-container .para h1{
    font-size: 35px;
    font-weight: 300;
    position: absolute;
    width: 100%;
    height: 6vh;
    left: 0;
    bottom: -100%;
    transition: all ease 0.7s;
    opacity: 1;
}

.pargaraph-container .paraend p{
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    width: 100%;
    height: 3vh;
    left: 0;
    bottom: -100%;
    transition: all ease 0.7s;
    opacity: 1;
}

.cards:hover {
    height: 50%;
    width: 25%;
}

.card1:hover +.image1{
    opacity: 1;
}

.card2:hover +.image2{
    opacity: 1;
}

.card3:hover +.image3{
    opacity: 1;
}

.cards:hover{
    background-color: #FFFDF5;
}
.cards:hover p{
    margin-top: -20%;
}

.cards:hover h1{
    margin-top: -10%;
}

.cards::after {
    content: "";
    height: 1px;
    width: 2%;
    background-color: black;
    position: absolute;
    left: 25px;
    bottom: 25%;
    transition: all ease 0.7s;
    opacity: 0;
}

.cards:hover::after {
    width: 400px;
    opacity: 1;
}

.cards:hover .pargaraph-container .para p{
    bottom: 0;
    padding-top: 5px;
}
.cards:hover .pargaraph-container .para p{
    opacity: 1;
}

.cards:hover .pargaraph-container .para h1{
    bottom: 0;
}
.cards:hover .pargaraph-container .para h1{
    opacity: 1;
}

.cards:hover .pargaraph-container .paraend p{
    bottom: 0;
}
.cards:hover .pargaraph-container .paraend p{
    opacity: 1;
}

.pargaraph-container{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    bottom: 40%;
    z-index: 9999;
    padding-left: 25px;
}
.pargaraph-container .para {
    width: 100%;
    height: 3vh;
    position: relative;
    overflow: hidden;
}

.pargaraph-container .parah1 {
    height: 6vh;
    margin-bottom: 16px;
}

.pargaraph-container .paraend {
    width: 100%;
    height: 3vh;
    position: relative;
    overflow: hidden;
    margin-top: 30%;
    margin-bottom: -30%;
    display: flex;
}

.paraend-left {
    height: 100%;
    width: 80%;
}

.paraend-right {
    height: 100%;
    width: 20%;
}

.paraend-right p {
    margin-left: 90%;
}

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: robotoregular;
    background-color: #FFFDF5;
}

.about-left {
    height: 100%;
    width: 58%;
    display: flex;
    flex-direction: column;
}

.about-left-top {
    height: 36%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18%;
    border-bottom: 0.5px solid rgb(165, 165, 165);
}

.about-left-top h1 {
    font-size: 57px;
    font-weight: 300;
}

.about-left-mid {
    height: 32%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-left: 18%;
    border-bottom: 0.5px solid rgb(165, 165, 165);
}

.about .about-left i {
    font-size: 13px;
    margin-bottom: 2px;
}

.about .about-left p {
    font-size: 30px;
    font-weight: 300;
}


.about-left-bottom {
    height: 32%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-left: 18%;
}

.about-right {
    height: 100%;
    width: 42%;
    display: flex;
    flex-direction: column;
}

.about-right-top {
    height: 36%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    border-bottom: 0.5px solid rgb(165, 165, 165);
}

.about-right-top p {
    font-size: 19px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: -3%;
}

.about-button {
    height: 32px;
    width: 90px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
}

.about-button:hover .after-hover{
    top: 0;
}

.about-right-mid {
    height: 32%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 0.5px solid rgb(165, 165, 165);
}

.about-right-mid p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: -3%;
}

.about-right-bottom {
    height: 32%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-right-bottom p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: -3%;
}

.products {
    background-color: #FFFDF5;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: robotoregular;
}

.products-top {
    height: 28vh;
    width: 79%;
    display: flex;
}

.products-top-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.products-top-left h1 {
    font-size: 40px;
    letter-spacing: -3%;
    font-weight: 400;
}

.products-top-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.shop-button{
    height: 35px;
    width: 90px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.shop-before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFDF5;
    color: #1D1D1B;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border: 1px solid #1D1D1B;
}

.shop-after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1D1D1B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    transition: 0.4s all ease;
}

.shop-button:hover .shop-after{
    top: 0;
}

.products-bottom {
    height: 62vh;
    width: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.products-bottom .products-card {
    height: 50vh;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.products-card-top {
    height: 80%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.prod-overlay{
    position: absolute;
    height: 25px;
    width: 45px;
    top: 25px;
    right: -10px;
    background: #616958;
    border-radius: 3px;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-overlay p {
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.products-card-top img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.4s all ease;
    border-radius: 5px;
}

.prod-buttons{
    position: absolute;
    bottom: -30px;        
    left: 5px;
    display: flex;
    gap: 2px;
    transition: 0.5s all ease;
}

.prod-buttons2 .prod-button{
    width: 54px;
}

.prod-button{
    height: 27px;
    width: 45px;
    font-size: 11px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    border: 1px solid #1D1D1B;
}

.prod-before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFDF5;
    color: #1D1D1B;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.prod-after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1D1D1B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    transition: 0.4s all ease;
}

.prod-button:hover .prod-after{
    top: 0;
}

.products-card-bottom {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
}

.products-card-bottom p {
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    color: black;
}

.products-card-bottom p span{
    font-weight: 400;
}

.products-card-top:hover .prod-buttons{
    bottom: 10px;
}

.products-card-top:hover img{
    transform: scale(1.1);
}

.custom-solution {
    background-color: #12271D;
    height: 80vh;
    width: 100%;
    font-family: robotoregular;
}

.custom-solution-top {
    height: 48vh;
    width: 100%;
    display: flex;
}

.custom-solution-top-left {
    height: 100%;
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 11%;
    gap: 20px;
    color: #FEFEFE;
}

.custom-solution-top-left p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -4%;
}

.custom-solution-top-left h1 {
    font-size: 65px;
    font-weight: 300;
    letter-spacing: -3%;
    line-height: 70px;
}

.custom-solution-top-right {
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4%;
}

.custom-solution-top-right img{
    object-fit: cover;
}

.custom-solution-bottom {
    height: 32vh;
    width: 100%;
}

.custom-marquee-div {
    height: 22vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FEFEFE;
    border-bottom: 1px solid #FEFEFE;
}

.custom-marquee {
    height: 10vh;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: custom-marquee 14s linear infinite;
    flex-shrink: 0;
}

.custom-marquee-container {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-marquee-container h1 {
    font-family: robotoregular;
    font-size: 50px;
    font-weight: 300;
    color: #FEFEFE;
}

.custom-marquee-container svg  {
    height: 90px;
    width: 90px;
    margin-top: 10px;
}

@keyframes custom-marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

.standards {
    background-color: #FFFDF5;
    height: 122vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: robotoregular;
}

.standards-left {
    height: 100%;
    width: 39%;
    padding-right: 30px;
}

.standards-right {
    height: 100%;
    width: 39%;
    padding-left: 50px;
}

.standards-top {
    height: 32vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.standards-top h1 {
    font-size: 43px;
    font-weight: 300;
    letter-spacing: -3%;
}

.standards-top p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.standards-block {
    height: 11vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    border-bottom: 0.2px solid #b6b6b6;
}

.standards-block i {
    font-size: 13px;
    margin-bottom: 2px;
}

.standards-block p {
    font-size: 31px;
    font-weight: 300;
    letter-spacing: -3%;
}

.questions {
    background-color: #F7F4E9;
    height: 62vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: robotoregular;
}

.questions-left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5%;
}

.questions-left p {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -3%;
}

.questions-right {
    height: 100%;
    width: 38%;
    padding-top: 70px;
}

.view-button{
    height: 31px;
    width: 80px;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    position: relative;
    overflow: hidden;
}

.view-before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.view-after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #464646;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    transition: 0.2s all ease;
}

.view-button:hover .view-after{
    top: 0;
}

.questions-block {
    height: 9vh;
    width: 100%;
    display: flex;
    border-top: 0.2px solid #9e9e9e;
}

.questions-block-left {
    height: 100%;
    width: 96%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.questions-block-left p {
    font-size: 23px;
    font-weight: 300;
    color: black;
    letter-spacing: -2%;
    transition: 0.5s all ease;
}

.questions-block-right {
    height: 100%;
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-block-right p {
    font-size: 26px;
    font-weight: 400;
}

.questions-block:hover .questions-block-left p {
    padding-left: 10px;
}

.questions-block:hover .questions-block-right p {
    font-size: 30px;
}

.footer {
    background-color: #DFDAC6;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 11%;
    font-family: robotoregular;
}

.footer-top {
    height: 20vh;
    width: 89%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-left {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-top-left h1 {
    font-size: 53px;
    font-weight: 300;
    letter-spacing: -2%;
    color: #12271D;
}

.footer-top-right {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #12271D;
    transition: 0.5s all ease;
}

.footer-top-right svg {
    position: absolute;
    transform: rotate(-90deg);
    padding: 19px 19px 19px 19px;
    border-radius: 10px;
    color: #12271D;
    transition: 0.5s all ease;
}

.arrow-before {
    top: 0;
}

.arrow-after {
    top: 100%;
    background-color: #12271D;
    fill: #E0E1D9;
}

.footer-top-right:hover .arrow-before{
    top: -100%;
    border-radius: 20px;
}

.footer-top-right:hover{
    border-radius: 20px;
}

.footer-top-right:hover .arrow-after{
    top: 0;
    border-radius: 20px;
}

.footer-bottom {
    height: 80vh;
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-bottom: 40px;
}

.footer-bottom-top {
    height: 41vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
}

.footer-box {
    height: 100%;
    width: 41vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #12271D;
    position: relative;
    overflow: hidden;
    transition: 0.7s all ease;
}

.footer-box1 {
    border: none;
}

.footer-box-front {
    height: 7vh;
    width: 41vh;
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer-box-front p {
    font-size: 31px;
    font-weight: 300;
    color: #12271D;
    letter-spacing: -3%;
    position: absolute;
    transition: 0.7s all ease;
}

.before-footer {
    top: 10%;
}

.after-footer {
    top: 100%;
}

.footer-box path {
    height: 100%;
    width: 100%;
}

.footer-box img {
    height: 41vh;
    width: 41vh;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    transform: scale(1.1);
    transition: 0.7s all ease;
}

.footer-box:hover img {
    opacity: 1;
    transform: scale(1);
}

.footer-box:hover .before-footer {
    top: -100%;
}

.footer-box:hover .after-footer {
    top: 10%;
    color: #FCF9F1;
}

.footer-box:hover {
    border-radius: 100px;
    border: none;
}

.footer-bottom-bottom {
    height: 8vh;
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #12271D;
}

.footer-bot-bot-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
}

.footer-bot-bot-left .copy {
    margin-right: -17px;
}

.footer-bot-bot-left p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -3%;
}

.footer-bot-bot-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
    padding-right: 22px;
}

.footer-bot-bot-right p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -2%;
}

.footer-icon {
    transition: 0.4s all ease;
}

.footer-icon:hover {
    height: 26px;
    width: 26px;
}

